button {
  margin: 2em;
  border-style: none;
  padding: 0.3em 2em;
  border-radius: 7%;
  background-color: rgb(243, 141, 141);
  color: white;
  cursor: pointer;
  cursor: pointer;
  font-family: var(--ff__bread01);
}
