/* *********** */
/* About General */
/* *********** */

.about_me {
  width: 100%;
  min-height: 45em;
}

.about_mePContainer {
  height: 80%;
  width: 100%;
  margin-top: 1em;
}

.about_mePContainer p {
  width: 98%;
  font-size: 3em;
  padding-left: 1em;
}

#helloName {
  color: var(--clr__accent);
}

.top3 {
  font-family: var(--ff__surprise01);
  color: rgb(238, 238, 238);
}
