/* *********** */
/* Contact Form General */
/* *********** */

.contactform {
  background-color: var(--clr__background02);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactformWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: grid;
  width: 20em;
  text-align: center;
  margin: auto;
  margin-bottom: 3em;
}

input,
textarea {
  border-radius: 0.2em;
  border-style: none;
  margin-bottom: 0.3em;
  padding: 0.5em;
  background: var(--clr__background03);
  font-family: var(--ff__head01);
}

input {
  height: 2.3em;
  font-size: 1em;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}
