/* *********** */
/* Contact Form General */
/* *********** */

.contactform {
  background-color: var(--clr__background02);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactformWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: grid;
  width: 20em;
  text-align: center;
  margin: auto;
  margin-bottom: 3em;
}

input,
button,
textarea {
  border-radius: 0.2em;
  border-style: none;
  margin-bottom: 0.3em;
  padding: 0.5em;
  background: var(--clr__background03);
  font-family: var(--ff__head01);
}

input,
button {
  height: 2.3em;
  font-size: 1em;
  outline: none;
}

textarea {
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  position: relative;
}

button * {
  transition: opacity 0.3s ease-in;
}

button .loader {
  position: absolute;
  display: block;
  fill: transparent;
  top: calc(50% - 0.75rem);
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  height: 1.5rem;
  animation: rotating 1.5s linear;
  display: none;
  opacity: 0;
}

@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

button.loading span {
  color: transparent;
  opacity: 0;
}
button.loading .loader {
  fill: transparent;
  display: block;
  opacity: 1;
}
