/* ************* */
/* Intro General */
/* ************* */

.introSection {
  display: flex;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introSection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introSection h1 {
  padding-top: 3em;
}

.welcomeContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeContainer input {
  z-index: 1;
  margin-top: 6em;
  width: 15em;
  background-color: var(--clr__background01);
  border: 1px solid var(--clr__accent);
  text-align: center;
}

.welcomeContainer input:focus {
  outline: none;
}

.welcomeTextContainer {
  z-index: 0;
  opacity: 0;
  width: 70%;
  position: absolute;
  left: 0%;
  margin-top: 4em;
  margin-left: 3em;
  height: 10em;
}

.welcomeText {
  text-align: left;
  padding-left: 0.5em;
  font-size: 3.5em;
  font-family: var(--ff__head01);
  color: rgb(255, 249, 83);
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  /* transition: opacity 0.5s ease-in; */
}
