/* *********** */
/* Projects General */
/* *********** */

.pancakes a,
.pancakeContainer1 a {
  position: absolute;
  z-index: 4;
}

#projectsSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projectsTextContainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 5em;
  width: 100%;
  margin-bottom: 3.125em;
}

#projectsText {
  font-family: var(--ff__head01);
  font-style: italic;
  font-size: 1.2em;
  color: var(--clr__accent);
}

.projects {
  width: 100%;
  padding-bottom: 3.125em;
  display: flex;
  flex-direction: column;
}

.projects a {
  text-decoration: none;
}

.projectsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5em;
  padding-left: 1em;
}

.projectsDiv .pancakes {
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.pancakes:hover {
  opacity: 0.7;
  filter: grayscale(0);
  cursor: pointer;
}

.pancakes {
  width: 20em;
  height: 20em;

  opacity: 0.4;
  display: flex;
  filter: grayscale(1);
}

.pancakesFilterOff {
  filter: grayscale(0);
  opacity: 1;
}

.pancakes img {
  width: 100%;
  object-fit: cover;
}

.pancakes .pancaketext,
.pancakes .pancaketextDevice {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  z-index: 4;
  opacity: 0;
}

.pancakes div .pancakeP {
  width: 100%;
  height: 100%;

  padding-top: 0.06em;

  padding-bottom: 1em;
  border: 10px solid var(--clr__accent);

  word-wrap: break-word;
  line-height: 0.8em;

  font-size: 7.5em;
  font-family: var(--ff__bread01);
  color: var(--clr__accent);
}

.pancakeContainer1:hover .pancaketext,
.pancakeContainer2:hover .pancaketext,
.pancakeContainer3:hover .pancaketext,
.pancakeContainer4:hover .pancaketext,
.pancakeContainer5:hover .pancaketext,
.pancakeContainer6:hover .pancaketext {
  opacity: 1;
}

.pancaketext__device {
  visibility: hidden;
  margin-top: 0.5em;
  font-family: var(--ff__head01);
  font-size: 1.2em;
}

.pancaketextDevice {
  z-index: 3;
  width: 100%;
  height: 100%;
}

.pancaketextDevice p {
  font-size: 15em;
}
